<h1>Editing Post</h1>

<!-- edit utilise le partial form. Le formulaire a pour action un PUT vers PostsController et le bouton submit affiche “Update Post”. Soumettre le formulaire créé par cette vue invoque l’action update dans le contrôleur -->

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
