<h1>hello world</h1> 

<!-- 
link_to = méthode pour insérer un lien hypertexte sur ma page
My Blog = texte écrit dans le lien
posts_path = lien vers le chemin posts
-->
<%= link_to "My Blog", posts_path %>
